################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MOSZE_beadando/MOSZE_beadando.sln
/MOSZE_beadando/Debug
/MOSZE_beadando/.vs/MOSZE_beadando/v16
/MOSZE_beadando/MOSZE_beadando/MOSZE_beadando.vcxproj.user
/MOSZE_beadando/MOSZE_beadando/MOSZE_beadando.vcxproj.filters
/MOSZE_beadando/MOSZE_beadando/MOSZE_beadando.vcxproj
/MOSZE_beadando/MOSZE_beadando/Debug
